/.fabric/
/XaeroWaypoints/
/XaeroWorldMap/
/baritone/
!/baritone/settings.txt
/coremods/
/data/
/logs/
/crash-reports/
/mods/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/*
!/shaderpacks/*.txt
/xaero-backups/
/realms_persistence.json
/map exports/
launcher_profiles.json
launcher_profiles_microsoft_store.json
/config/worldedit/*
!/config/worldedit/worldedit.properties
/config/voicechat/username-cache.json
/config/minihud/
/config/NoChatReports/NCR-Encryption.json
/config/NoChatReports/README.md
/ViaFabricPlus/*.account
/XaeroWaypoints_BACKUP*/
